maser/src/main/xsd/Manga.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Sun May 21 2017 23:01:06 GMT+0200 (CEST) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chapter" type="xs:int"></xs:element>
                <xs:element name="volume" type="xs:int"></xs:element>
                <xs:element name="status" type="xs:int"></xs:element>
                <xs:element name="score" type="xs:int"></xs:element>
                <xs:element name="times_reread"></xs:element>
                <xs:element name="reread_value"></xs:element>
                <xs:element name="date_start"></xs:element>
                <xs:element name="date_finish"></xs:element>
                <xs:element name="priority"></xs:element>
                <xs:element name="enable_discussion"></xs:element>
                <xs:element name="enable_rereading"></xs:element>
                <xs:element name="comments"></xs:element>
                <xs:element name="scan_group"></xs:element>
                <xs:element name="tags"></xs:element>
                <xs:element name="retail_volumes"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>