maser/src/main/xsd/Search.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Sun May 21 2017 23:00:48 GMT+0200 (CEST) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:element name="anime">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:int"></xs:element>
                            <xs:element name="title" type="xs:string"></xs:element>
                            <xs:element name="english" type="xs:string"></xs:element>
                            <xs:element name="synonyms" type="xs:string"></xs:element>
                            <xs:element name="episodes" type="xs:int"></xs:element>
                            <xs:element name="type" type="xs:string"></xs:element>
                            <xs:element name="status" type="xs:string"></xs:element>
                            <xs:element name="start_date" type="xs:date"></xs:element>
                            <xs:element name="end_date" type="xs:date"></xs:element>
                            <xs:element name="synopsis" type="xs:string"></xs:element>
                            <xs:element name="image" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>